<!DOCTYPE html>
<html>
    <head>
        <title>@RenderSection("Title")</title>
        <link rel="stylesheet" type="text/css" href="~/Content/Styles/styles.css">
    </head>
    <body>
        @RenderSection("Body")
        <script type="text/javascript" src="@Url.Content("~/Scripts/node_modules/requirejs/require.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/init.js")"></script>
        <script type="text/javascript" src="~/Scripts/ko.bindingHandlers.dragging.js"></script>
        @RenderSection("Scripts")
    </body>
</html>